body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3 ease-in-out;
  color: #FE5F1E;
}
section.hero {
  background: #ccc;
}

.size {
  background: #ccc;
}

.add-to-cart {
  transition: all 0.3 ease-in-out;
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}
